<div class = "mt-4">
    <div class="row">
            {{#each course}}
        <div class = "col-sm-6 col-lg-4">
            <div class="card" >
                <a href="/courses/{{this.slug}}">
                <img class="card-img-top" src={{this.image}} alt={{this.name}}>
                <a>
                <div class="card-body">
                     <a href="/courses/{{this.slug}}">
                    <h5 class="card-name">{{this.name}}</h5>
                    <a>
                    <p class="card-text">{{this.decription}}</p>
                    <a href="#" class="btn btn-primary">Continue course</a>
                </div>         
</div>
</div>
 {{/each}}
        </div>
    </div>
</div>